.player-profile-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 20px;
    border-radius: 25px;
    width: 80%;
    margin: 25px auto;
    border: 3px solid black;
    background: rgba(0, 17, 17, 0.63);
}

.player-profile-create-link-button {
    font-size: 15px;
    font-family: Arial;
    width: 80%;
    height: 33px;
    border-width: 1px;
    color: #fff;
    border-color: #599bb3;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 0px 10px 14px -7px #276873;
    text-shadow: 0px 1px 0px #3d768a;
    background: linear-gradient(#599bb3, #408c99);
    margin-bottom: 5px;
    text-align: center;
    padding-top: 10px;
    margin: auto;
}

.player-profile-create-link-button:hover {
	background: linear-gradient(#408c99, #599bb3);
}
